{% extends "_base.html" %}
{% block content %}
<div class="container container-skills">
<div class="about" id="about">
	<div class="about-image">
		<img src="{{ about_image }}">
		<h1>{{ about_name }}</h1>
	</div>
	<div class="about-text">
		{{ about_author|markdown }}
	</div>
</div>
{% for skill in skills %}
	{% set var_skill = skill.identifier %}
	<div class="skill" id="var_skill">
		<hr>
		<h2>{{ skill.title }}</h2>
		{% for project in projects if project.skill == var_skill %}
			{% if project.prepend %}<{{ project.prepend }}{% if project.prepend_class %} class="{{ project.prepend_class }}"{% endif %}{% if project.prepend == 'a' %} href="{{ project.href }}" target="_blank"{% endif %}>{% endif %}
				{% if project.enclose %}<{{ project.enclose }}{% if project.enclose_class %} class="{{ project.enclose_class }}"{% endif %}{% if project.enclose == 'a' %} href="{{ project.href }}" target="_blank"{% endif %}>{% endif %}
					{% if project.tag %}<{{ project.tag }}{% if project.tag_class %} class="{{ project.tag_class }}"{% endif %}{% if project.tag == 'a' %} href="{{ project.href }}" target="_blank"{% endif %}>{% endif %}{% if project.content %}{{ project.content|process_text }}{% endif %}</{{ project.tag }}>
				{% if project.enclose %}</{{ project.enclose }}>{% endif %}
			{% if project.append %}</{{ project.append }}>{% endif %}
		{% endfor %}
	</div>
{% endfor %}
</div>
{% endblock content %}