

html, body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	color: #464553;
}

html body p,
html body li {
	font-size: 15px;
}

html body p,
html body li,
html body h1,
html body h2,
html body h3 {
	color: #373737;
}

html body a,
html body a:visited {
	color: #3D7DA2;
	font-weight: 600;
}

html body a:hover,
html body a:active,
html body a:focus {
	color: #1e5473;
	font-weight: 600;
	text-decoration: none;
}

html body h1 {
	font-size: 24px;
	margin: 10px 0 10px 0;
}


aside.about {
	background-color: #f4f4f4;
	// border-right: 1px solid gray;
	display: inline-block;
	float: left;
	height: 100vh;
	margin: 50px 0 0 0;
	overflow: auto;
	padding: 40px;
	position: fixed;
	width: 400px;
}

.container-skills {
	background-color: #ffffff;
	display: inline-block;
	float: left;
	overflow: auto;
	margin-top: 40px;
	margin-left: 400px;
    padding: 0 40px 40px 60px;
}

@media (max-width: 992px) {
	aside.about,
	.container-skills {
		display: block;
		height: auto;
		margin-left: 0;
		margin-right: 0;
		padding: 10px;
		position: relative;
		width: 100%;
	}
	.container-skills {
		margin-top: -10px;
	}
}

.about {
	overflow: auto;
}

.about-image {
	display: flex;
    justify-content: center;
    align-items: center;
	padding: 10px;
	width: 100%;
	h1 {
		text-align: center;
	}
	img {
		border-radius: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		max-width: 180px;
	}
}

.about-text {
	width: 100%;
	h2 {
		margin-top: 0;
	}
}

.about-text {
	display: inline-block;
	float: left;
}

@media (max-width: 992px) {
	.about-text {
		display: block;
		max-width: 100%;
		width: 100%;
	}
	.about-image {
		margin: 0 0 30px 0;
	}
	.about-image img {
		width: 100%;
	}
}

footer {
	align-items: center;
	background-color: #292777;
	color: white;
	display: flex;
	justify-content: center;
	margin: 50px 0 0 0;
	padding: 10px;
	text-align: center;
}

html body footer .container a {
	color: #ffffff;
	text-decoration: underline;
}

hr {
	border-bottom: 1px solid #464553;
	margin-top: 40px;
	margin-bottom: 30px;
}

.navbar-default.site-nav {
	background-color: #617E8F;
}

.navbar-default.site-nav .navbar-brand {
	color: #ffffff;
	display: flex;
}

.navbar-default.site-nav .navbar-nav>li>a {
	color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-default.site-nav .navbar-nav>li>a:hover {
	background-color: #1e5473;
}

.navbar-nav {
	width: 370px;
    display: flex;
    justify-content: center;
}

.navbar-collapse-mobile {
	display: none;
}

.navbar-collapse-desktop {
	display: block;
}

@media (max-width: 992px) {
	.navbar-nav {
		width: 100%;
		display: block;
	}
	.navbar-collapse-mobile {
		display: block;
	}
	.navbar-collapse-desktop {
		display: none;
	}
}

.skill {
	float: left;
	padding: 50px 0 0 0;
}

.skill ul {
	max-width: 600px;
}

.skill-list-project {
	background-color: #F4F4F4;
	border-radius: 4px;
	float: left;
	list-style-type: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 6px 10px 6px;
	-webkit-transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    width: 100%;
}






